<div id="test123123" style="display:none">{{template}}</div>

<style>
  #launcher {
  	display:none !important;
  }
  @media(max-width:768px){
    #launcher{
    z-index: 10!important;
    bottom: 90px!important;
    right: -10px!important;}}
</style>
{% if template == 'index' %}
<style>
	#launcher {
      display:block !important;
    }
      
@media(min-width:768px){
    #webWidget {
      right:40px !important;
     }
  }
</style>
{% endif %}
<!-- Start of soufeel Zendesk Widget script -->
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=2a22e9c7-335b-4118-956a-37ebaab8abf4"> </script>
<!-- End of soufeel Zendesk Widget script -->

<script>
var runWidgetLogic = (function() {
   'use strict';
   var module = {};
   module.init = function(HCSearch, chat, contactForm) {
      if (zE) configureWidget(HCSearch, chat, contactForm);
      else {
         console.log("ERROR: No Web Widget running on the page.");
         return;
      }
   };
   function configureWidget(HCSearch, chat, contactForm) { // API configuration
      var widgets = { webWidget:{ launcher:{}, helpCenter:{}, chat:{departments: {
          enabled: ['Jewelry Accessories'],
          select: 'Jewelry Accessories'
        }}, contactForm:{} } }, ww = widgets.webWidget;
      ww.launcher.label = { '*': 'Get Help' }; // Web Widget button text
      ww.launcher.chatLabel = { '*': 'Chat' }; // Chat button text - When the Help Center Search option is disabled
      ww.helpCenter.chatButton = { '*': 'Live Chat' }; // Chat button text - when the Help Center Search option is enabled
      ww.helpCenter.title = { '*': 'SOUFEEL Help Center' }; // Web Widget header text
      if (!HCSearch) ww.helpCenter.suppress = true;
      if (!chat) ww.chat.suppress = true; else zopimConfig();
      if (!contactForm) ww.contactForm.suppress = true;
      window.zESettings = widgets;
   }
   function zopimConfig() {
      zE(function() {
         $zopim(function() {
            var zl = $zopim.livechat;
            zl.setOnConnected(function() {
               var department_status = zl.departments.getDepartment('Jewelry Accessories');
               if (department_status.status == 'offline') zl.setStatus('offline'); // Set the account status to 'offline'
                else {
                   zl.window.setTitle('SOUFEEL Support'); // Set the Window Title:
                   //zl.addTags("nononono"); // add a tag
                   zl.departments.filter(''); // Hide the Drop-down list option in the Pre-Chat Form to select the Department
                   zl.departments.setVisitorDepartment('Jewelry Accessories'); // Automatically set the Department
                }
            });
         });
      });
   }
   return module;
}());
/**
 * Change the widget settings.
 * @params {boolean} HCSearch - enable HC Search?
 * @params {boolean} chat - enable chat?
 * @params {boolean} contactForm - enable contact form?
 */
runWidgetLogic.init(true, true, true);

  $(function(){
  
  let t1 = 0;
    let t2 = 0;
    let tWidth = 0;
    let timer = null; // 定时器

    // scroll监听
    document.onscroll = function() {
      if($('#launcher').length>0 && $(window).width() <= 768){
        if($('#launcher').width() > 0){
          tWidth = $('#launcher').width();
        }
        $('#launcher').hide();
        $('.acsb-trigger').attr('style','display: none !important');
$('.acsb-trigger').css({"inset":"auto 10px 155px auto","border-radius":"50%"});
        clearTimeout(timer);
        timer = setTimeout(isScrollEnd, 800);
        t1 = document.documentElement.scrollTop || document.body.scrollTop;  

      }
    }

    function isScrollEnd() {
      t2 = document.documentElement.scrollTop || document.body.scrollTop;
      if(t2 == t1){
        console.log('tWidth',tWidth);
        $('#launcher').css('width',48).show();
        $('.acsb-trigger').attr('style','display: block !important');
$('.acsb-trigger').css({"inset":"auto 10px 155px auto","border-radius":"50%"});
      }
    }  
  })
</script>   
