{% comment %} 
** @name  创建店铺组件**
** @author 陈健辉 **
** @update 2021-11-20
{% endcomment %}

<style>
/* PC端样式 */
.create_store_component{
  margin: 0 auto;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.csc_left_module,
.csc_right_module{
  position: relative;
  background: #fff;
  padding: 25px;
  width: 485px;
  flex-grow: 1;
}
/* 连接线 */
.csc_left_module::before,
.csc_left_module::after,
.csc_right_module::after{
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background: #000;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}
.csc_left_module::before{
  right: 10px;
}
.csc_right_module::after{
  left: 10px;
}
.csc_left_module::after{
  right: -40px;
  width: 50px;
  height: 1px;
  z-index: 10;
}
/* 头部样式 */
.csc_header{
  display: flex;
  justify-content: space-between;
}
.csch_title{
  font-size: 24px;
  line-height: 32px;
}
.csch_describe{
  font-size: 14px;
  line-height: 28px;
  color: #0EBA9A;
}
.csch_right img{
  width: 62px;
  height: 62px;
}
/* 步骤流程 */
.csc_step{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  padding: 0 15px;
}
.cscs_item{
  font-size: 16px;
  line-height: 56px;
  background: #F6F6F9;
  padding: 0 15px;
  border-radius: 4px;
  position: relative;
}
.cscs_item::after{
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background: #F9423A;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
}
.cscs_item.cscs_detele{
  text-decoration: line-through;
  color: #928FA5;
}
.cscs_item.cscs_detele::after{
  content: none;
}
/* Next-step */
.cscr_img{
  margin: 15px 0;
}
.cscr_img img{
  width: 100px;
  height: 100px;
}
.cscr_describe{
  font-size: 16px;
  line-height: 28px;
}
.cscr_btn{
  width: 50%;
  margin: 25px auto 0;
}
.cscr_btn .mm-register-btn{
  margin-left: 0;
}

/* 通用类名 */
.cscr_text_center{
  text-align: center;
}
</style>

<div class="create_store_component mm_pc_container">
  {% comment %} 左侧模块 {% endcomment %}
  <div class="csc_left_module">
    {% comment %} 头部样式 {% endcomment %}
    <div class="csc_header">
      <div class="csch_left">
        <div class="csch_title alifont_bold">Store setup checklist</div>
        <div class="csch_describe">1 out of 3 steps completed</div>
      </div>
      <div class="csch_right">
        {% render 'icon-progress' %}
      </div>
    </div>

    {% comment %} 步骤流程 {% endcomment %}
    <div class="csc_step">
      <div class="cscs_item cscs_detele alifont_bold">1. Create a Mademine account</div>
      <div class="cscs_item alifont_bold">2. Add a store name</div>
      <div class="cscs_item alifont_bold">3. Connect your store and start selling</div>
    </div>
  </div>

  {% comment %} 右侧模块 {% endcomment %}
  <div class="csc_right_module">
    <div class="csch_title alifont_bold">Next step</div>
    <div class="cscr_img cscr_text_center">
      <img src="{{ 'next-step.png' | asset_img_url }}" alt="next-strp">
    </div>
    <div class="csch_title cscr_text_center alifont_bold">Add a store name</div>
    <div class="cscr_describe cscr_text_center alifont">Create your store name. You can edit it later on.</div>
    <div class="cscr_btn">
      <a id="cscrBtn" class="mm-btn mm-btn-primary alifont_bold mm-register-btn" href="javascript:void(0)">Create a store name</a>
    </div>
  </div>
</div>

<script>
/* 打开弹窗事件 openPopup 为 popup-component 组件内部方法*/
$('#cscrBtn').on('click', () => openPopup({
  confirmText: 'Create',
  title: 'Add a store name',
  onConfirm: createShop // task 父级内部方法
}));
</script>