
<style>
  @media(min-width:768px){ 
    .PRICNT3d{     background: #e5e5e5;
      clip-path: polygon(100% 0, calc(100% - 7px) 50%, 100% 100%, 0 100%, 7px 50%, 0 0);
      -webkit-clip-path: polygon(100% 0, calc(100% - 7px) 50%, 100% 100%, 0 100%, 7px 50%, 0 0);
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      FONT-SIZE: 0.5rem;
      display: block;
      width: 100%;
      padding: 0.2REM 0.2rem;
      font-style: normal;
      color: #000;
      TEXT-ALIGN: CENTER;}
    #shopify-section-footer .container{
      padding-left: 0;
      padding-right: 0;
    }
    #shopify-section-footer .before_html .grid{
      max-width: 1228px;
      margin: 0 auto;
    }
    #shopify-section-footer .before_html .grid .text-right {
      display: flex;
      align-items: center;
      width: 380px;
      margin-left: 35%;
    }
  } 
    .footer-pc-section{
      display: flex;
      align-items: center;
      justify-content:center;
      padding:9rem 0;
      border-bottom:1px solid rgba(34,34,34,0.08);
    }
    .footer-pc-section .flex{
      display:flex;
      justify-content:space-between
    }
    .footer-pc-section .justify-content-flexstart{ 
      justify-content: flex-start;
    }
    .footer-pc-section .page-width{
      padding: 0;

    }
    .footer-pc-section .footer{
      padding:20px 0 20px; 
      border-bottom: 1px solid #ccc;
      background:#fff;
      margin-top:-6%;
    }

    .footer-pc-section .footer ul{ 
      display: flex;
      justify-content: space-between;
      padding: 0;
    }
    .footer-pc-section .footer ul li {  
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.16rem;
      font-weight: 600;
      color:#7b7b7b;
    }
    .footer-pc-section .footer ul li  span:first-child {
      padding-right:15px; 
      font-weight: 400;
    }
    .footer-pc-section .footer ul li  span span{
      font-size:1.16rem
    }
    .footer-pc-section .footer ul li .icon{    
      font-size: 5.3rem;
      color: #7b7b7b;
      width: auto;
      height: auto;
      PADDING: 0 10PX;
    }
    .footer-middle-block-box{
      width:66.305%;
      display:flex;
      align-items: center;
      justify-content: center;
    }
    .footer-logo-image{
      margin-left:99px;
      width:18.85%
    }
    .footer-pc-section .footer-middle-block {
      padding: 11px  24px  10px 0;
      border-right:1px solid rgba(34,34,34,0.08);

    }
    .footer-pc-section .footer-middle-block  .footer-content{   
      width: 30%;
    }
    .footer-pc-section .footer-middle-block  .footer-content:nth-child(1),
    .footer-pc-section .footer-middle-block  .footer-content:nth-child(2)
    {width:20%}
    .footer-pc-section .footer-middle-block .footer-content .block-title{
      font-size:20px;
      line-height:32px;
      text-align: left;
      margin:0px 0 10px 0;
      color:#222;
    }
    .footer-pc-section .footer-middle-block ul.links li {
      position: relative;
      display: block; 
      font-size:14px;
      line-height:44px;
    }
    .footer-pc-section .footer-middle-block a {    
      color: #222;
      text-transform: capitalize;
      font-weight: 300 !important;
    }

    .footer-pc-section .footer-middle-block  input.input-text{ 
      height: 50px;
      padding: 0 1.83rem;
      border: 0;
      background-color: #fff;
      border-radius: 30px;
      width:100%;
      margin-bottom: 15px;
      color: #000;
      font-size: 0.667rem;
    }
    .footer-pc-section .footer-middle-block  .footer-policy{    
      clear: both; 
      display: flex;
      align-items: center;
    }
    .footer-pc-section .footer-middle-block  .footer-policy input{ 
      width: 1.33rem;
      margin-right: 1rem;

    }
    .footer-pc-section .footer-middle-block  .footer-policy a{    text-decoration: underline;}
    .footer-pc-section a:hover{
      color:#D81E06
    }
    .email_button{position: relative;}
    .footer-pc-section .footer-middle-block .button{   
      background: #000;
      padding:0 1.6rem;
      text-transform: uppercase;
      color: #fff;
      font-weight: 500;
      border-radius: 30px;
      position: absolute;
      right: 0;
      top: 0;
      height:50px;
    }
    .footer-pc-section .container{
      margin: 0 auto;
    }
    .footer-pc-section .footer-society{
      margin-bottom:2rem;
    }
    .footer-pc-section .footer-society ul li{
      margin-right:1.67rem
    }
  .footer-content .input-box{margin-top: 18px;}
  .footer-mb-section{
    display:none;
  }
   @media screen and (max-width: 768px){
    .footer-pc-section{
      display:none;
    } 
    .footer-mb-section{
      display:flex;
    }
  } 
  
</style>
<div class="footer-pc-section"> 
  {%- comment -%}footer pionter{%- endcomment -%} 
  {%- comment -%}footer pionter end{%- endcomment -%} 
  {%- comment -%}
  footer cms page  start by laozien 2021-10-28
  {%- endcomment -%}
  {% assign logo_resize = section.settings.footer-logo.width| append: "x" | append: section.settings.footer-logo.height %}
  <div class="footer-middle-block-box">
    <div class="footer-middle-block flex">
      {% for block in section.blocks %}
      <div class="footer-content">
        <div class="block-title">{{ block.settings.list_title }}</div>
        <ul class="links"> 
          {% assign lists = block.settings.list_text| split: "," %}
          {% for item in lists %}
          <li><a href="/pages/trackorder" title="{{ item}}">{{ item }}</a></li>
          {% endfor %}
        </ul>
      </div>
       {% endfor %}
  </div>
  <div class="footer-logo-image">
    <img src="{{section.settings.footer-logo| img_url: logo_resize}}"/>
  </div>
</div>
</div>

