<svg width="30px" height="30px" viewBox="0 0 30 30">
    <title>icon-arrow-full-down</title>
    <g id="icon-arrow-full-down" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M3.93403503,10.1106265 L12.4690155,23.5227387 C13.35854,24.9205628 15.2128024,25.3326211 16.6106265,24.4430967 C16.9810689,24.2073606 17.2952484,23.8931811 17.5309845,23.5227387 L26.065965,10.1106265 C26.9554894,8.71280236 26.5434311,6.85853998 25.145607,5.96901554 C24.6642542,5.66270012 24.1055326,5.5 23.5349805,5.5 L6.46501949,5.5 C4.80816524,5.5 3.46501949,6.84314575 3.46501949,8.5 C3.46501949,9.07055207 3.62771961,9.62927367 3.93403503,10.1106265 Z" id="path" fill="#000000"></path>
    </g>
</svg>