<svg width="36px" height="36px" viewBox="0 0 36 36">
    <title>icon/close</title>
    <g id="icon/close" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="编组-2">
            <rect id="矩形" x="0" y="0" width="36" height="36"></rect>
            <circle id="椭圆形" cx="18" cy="18" r="18"></circle>
        </g>
        <path d="M9.29289322,9.29289322 C9.68341751,8.90236893 10.3165825,8.90236893 10.7071068,9.29289322 L10.7071068,9.29289322 L17.778,16.363 L24.8492424,9.29289322 C25.2397667,8.90236893 25.8729317,8.90236893 26.263456,9.29289322 C26.6539803,9.68341751 26.6539803,10.3165825 26.263456,10.7071068 L19.192,17.778 L26.263456,24.8492424 C26.6239399,25.2097264 26.6516695,25.7769574 26.3466446,26.1692486 L26.263456,26.263456 C25.8729317,26.6539803 25.2397667,26.6539803 24.8492424,26.263456 L24.8492424,26.263456 L17.778,19.192 L10.7071068,26.263456 C10.3165825,26.6539803 9.68341751,26.6539803 9.29289322,26.263456 C8.90236893,25.8729317 8.90236893,25.2397667 9.29289322,24.8492424 L16.363,17.778 L9.29289322,10.7071068 C8.93240926,10.3466228 8.90467972,9.77939176 9.20970461,9.38710056 Z" id="形状结合" fill="#928FA5"></path>
    </g>
</svg>