<svg width="16px" height="14px" viewBox="0 0 16 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>勾</title>
    <g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Homepage" transform="translate(-58.000000, -464.000000)" fill="#F9423A" fill-rule="nonzero">
            <g id="banner" transform="translate(0.000000, 71.000000)">
                <g id="编组备份-8" transform="translate(58.000000, 393.000000)">
                    <path d="M6.92,14 C4.608,11.4244604 1.888,9.47482014 0,8.86330935 L4.48,6.44604317 L6.64,10.2230216 C6.64,10.2230216 10.16,2.55395683 15.72,0 C15.6,1.82733813 15.048,3.41007194 16,5.35971223 C13.56,5.85611511 8.552,11.3309353 6.92,14 Z" id="路径"></path>
                </g>
            </g>
        </g>
    </g>
</svg>