<svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
    <title>icon/add</title>
    <g id="icon/add" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M14.2426407,14.2426407 C14.633165,13.8521164 15.26633,13.8521164 15.6568542,14.2426407 L15.6568542,14.2426407 L17.7777475,16.3627475 L19.8994949,14.2426407 C20.2900192,13.8521164 20.9231842,13.8521164 21.3137085,14.2426407 C21.7042328,14.633165 21.7042328,15.26633 21.3137085,15.6568542 L19.1917475,17.7777475 L21.3137085,19.8994949 C21.6741925,20.2599789 21.701922,20.82721 21.3968971,21.2195012 L21.3137085,21.3137085 C20.9231842,21.7042328 20.2900192,21.7042328 19.8994949,21.3137085 L19.8994949,21.3137085 L17.7777475,19.1917475 L15.6568542,21.3137085 C15.26633,21.7042328 14.633165,21.7042328 14.2426407,21.3137085 C13.8521164,20.9231842 13.8521164,20.2900192 14.2426407,19.8994949 L16.3627475,17.7777475 L14.2426407,15.6568542 C13.8821567,15.2963703 13.8544272,14.7291392 14.1594521,14.336848 Z" id="形状结合" fill="#222222" transform="translate(17.778175, 17.778175) rotate(45.000000) translate(-17.778175, -17.778175) "></path>
    </g>
</svg>