<svg width="64px" height="64px" viewBox="0 0 64 64" >
    <title>矩形</title>
    <g id="控件" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="list/item-ad" transform="translate(-31.000000, -31.000000)">
            <rect id="矩形" fill="#F6F6F9" x="31" y="31" width="64" height="64" rx="32"></rect>
            <g id="编组" transform="translate(45.000000, 45.000000)" fill="#222222" fill-rule="nonzero">
                <g id="形状">
                    <path d="M18,6 C23.5228475,6 28,10.4771525 28,16 C28,21.026653 25.0389953,25.5335705 19.1169859,29.5207527 C18.4899546,29.9429217 17.6834182,29.9730766 17.0307433,29.6112174 L16.883009,29.5207526 L16.5009907,29.2599799 C10.8336636,25.3373702 8,20.9173769 8,16 C8,10.4771525 12.4771525,6 18,6 Z M18,8 C13.581722,8 10,11.581722 10,16 C10,20.0863586 12.3525127,23.8531394 17.2645762,27.3525617 L17.6285664,27.6081406 L18,27.8617349 L18.3648386,27.6126966 C23.5314187,24.0367266 26,20.184226 26,16 C26,11.581722 22.418278,8 18,8 Z M18,11 C20.7614237,11 23,13.2385763 23,16 C23,18.7614237 20.7614237,21 18,21 C15.2385763,21 13,18.7614237 13,16 C13,13.2385763 15.2385763,11 18,11 Z M18,13 C16.3431458,13 15,14.3431458 15,16 C15,17.6568542 16.3431458,19 18,19 C19.6568542,19 21,17.6568542 21,16 C21,14.3431458 19.6568542,13 18,13 Z"></path>
                </g>
            </g>
            <rect id="矩形" stroke-opacity="0.08" stroke="#222222" x="0.5" y="0.5" width="1371" height="125" rx="4"></rect>
        </g>
    </g>
</svg>