<svg width="36px" height="36px" viewBox="0 0 36 36" version="1.1">
    <title>icon/eye-open</title>
    <g id="icon/eye-open" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="编组-2">
            <rect id="矩形" x="0" y="0" width="36" height="36"></rect>
            <circle id="椭圆形" cx="18" cy="18" r="18"></circle>
        </g>
        <path d="M18,10 C22.1680175,10 25.9445986,12.310544 29.3912998,16.7783699 C29.6689322,17.1382541 29.8077484,17.5691217 29.8077486,17.9999893 C29.8077487,18.4306991 29.6690343,18.861409 29.3909419,19.221884 C25.7494576,23.7984498 22.0621094,26 18,26 C13.8319825,26 10.0554014,23.689456 6.60870023,19.2216301 C6.33106784,18.8617459 6.19225157,18.4308783 6.19225145,18.0000107 C6.19225132,17.5693009 6.33096569,17.138591 6.60905807,16.778116 C10.2505424,12.2015502 13.9378906,10 18,10 L18,10 Z" id="椭圆形" stroke="#222222" stroke-width="2"></path>
        <path d="M18,13.6 C18.7128155,13.6 19.3860415,13.769503 19.98157,14.0704011 L19.8319381,14.0651229 C19.1562655,14.0651229 18.543503,14.3425348 18.1002679,14.7937728 C17.6636137,15.2383111 17.3919598,15.8520428 17.3919598,16.5311008 C17.3919598,17.2099962 17.6635459,17.8240182 18.1001623,18.2688211 C18.5434646,18.7204353 19.1562934,18.9980786 19.8319381,18.9980786 C20.5082442,18.9980786 21.1208098,18.7204118 21.5638433,18.2690714 C21.9293073,17.896755 22.179064,17.4058168 22.2507534,16.8574317 C22.3477684,17.2208193 22.4,17.60431 22.4,18 C22.4,19.2150264 21.9075132,20.3150264 21.1112698,21.1112698 C20.3150264,21.9075132 19.2150264,22.4 18,22.4 C16.7849736,22.4 15.6849736,21.9075132 14.8887302,21.1112698 C14.0924868,20.3150264 13.6,19.2150264 13.6,18 C13.6,16.7849736 14.0924868,15.6849736 14.8887302,14.8887302 C15.6849736,14.0924868 16.7849736,13.6 18,13.6 Z" id="形状结合" stroke="#222222" stroke-width="2" fill="#6C6888"></path>
    </g>
</svg>