{% comment %} 
** @name 简易头部组件**
** @author 陈健辉 **
** @update 2021-11-29
{% endcomment %}

<style>
/* 头部 */
.simple_header_component{
  font-size: 32px;
  line-height: 78px;
  padding: 25px;
  background: #F6F6F9;
}
.shc_box{
  text-align: center;
  margin: 0 auto;
}
</style>

<div class="simple_header_component alifont_bold">
  <div class="shc_box mm_pc_container">{{ content }}</div>
</div>