<style>
  /*login & register global style*/

  .account__templates .form-vertical form{ 
    display: flex;
    flex-direction: column; 
  }
  .account__templates  .floating-labels{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  .account__templates  .floating-labels input{
      height: 54px;
      padding: 1rem 3rem;
  }
  .account__templates  .floating-labels input:focus{
      background:transparent;
  }
  .floating-labels input[type="text"], 
  .floating-labels input[type="password"], 
  .floating-labels input[type="email"] 
  { 
    border: 1px solid #cfd9db;
    background-color: #ffffff;
    border-radius: 3px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #333;
  }
  input:-webkit-autofill:focus {
    border: 1px solid #cfd9db;
  }
  .account__templates  .floating-labels i{    
      z-index: 1;
      position: absolute;
      left: 1rem;
      top: 48%;
      font-size: 1.5rem;
      color: #d5dddf;
      transform: translateY(-50%);
  }
  .account__templates .password_login{
      text-align:right; 
      font-size: 1.5rem;
      text-decoration: underline
  }

</style>

<style>
#shopify-section-breadcrumbs{
  display: none;
}
/*
  out style list:
    medium-up--one-half 
    medium-up--push-two-quarters
    text-center
*/
@media(min-width:220px){
  .account__templates { 
    background: #f7f8f9;
    display: flex;
  }
  .account__templates .grid__item{
    padding-top:1rem
  }
  .lr_tag_wapper{
    display:flex;
    justify-content: space-between;
    margin-bottom:2rem;
  }
  .lr_tag_wapper li{
      width: 50%;
      height: 4rem;
      font-size: 1.4rem;
      line-height: 4rem; 
      background: #f7f6f4;
  }
  .lr_tag_wapper li.active{
      background: #fff;
  }
  .lr_tag_wapper li{
    cursor:pointer;
    height: 70px;
    border-radius: 0;
    background: #f7f6f4;
    color: #444;
    line-height: 70px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
  }
  .content-block{    
    padding: 2rem;
    background:#fff;
  }
}
@media(min-width:768px){
  .account__templates .grid__item{
    padding-top:7rem;
    display: FLEX;
    justify-content: flex-end; 
  } 
  .content-block{width:45%}
  .account__templates{
    height: auto; 
    background:url('{{ 'acount-login-bg.jpg' | asset_url }}')  no-repeat top center;
    display: flex;
  }
}
</style>
<div class="account__templates">
  <div class="container">
    <div class="grid__item medium-up--one-half medium-up--push-two-quarters">
      <div class="content-block text-center account-container">
        <ul class="lr_tag_wapper"> 
          <li id="login_tag" class="active">{{ 'customer.login.title' | t }}</li>
          <li id="register_tag" >  {{ 'customer.register.title' | t }} </li>
        </ul>
        <div class="account_content_wapper">
          {% include 'customers-login' %}
          {% include 'customers-register' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% comment %} <script>
  function register(info, form) {
    var params = {
      form_type: 'create_customer',
      utf8: '✓',
      customer: {
        tags: info.gender == 1 ? 'Mr.' : 'Miss.',
        first_name: info.firstname,
        last_name: info.lastname,
        email: info.email,
        password: info.password
      }
    }
    console.log('Shopify Register', params)
    $.post("/register", params, function(response) {
      var tokenRegex = /<div\s+class="errors">(.*?)<\/div>/;
      var regexResult = tokenRegex.exec(response)
      console.log(regexResult)
      if (regexResult != null && regexResult.length == 2 && regexResult[1].length > 10){
        form.prepend(regexResult[0])
      }else{
        window.location.href = '/account';
      }
    });
  }
  function login(info, form) {
    var params = {
      form_type: 'customer_login',
      utf8: '✓',
      customer: {
        email: info.email,
        password: info.password
      }
    }
    console.log('Shopify Login', params);
    $.post("/account/login", params, function(response) {
      var resultHtml = $(response).find('#CustomerLoginForm').html();
      if (typeof(resultHtml) == 'undefined') {
        console.log('Login Success');
        window.location.href = '/account';
      }else{
        $('#CustomerLoginForm').html(resultHtml)
      }
    });
  }
  function doLogin(form) {
    var email = form.find('[name="customer[email]"]').val();
    var password = aes.encrypt(form.find('[name="customer[password]"]').val());
    /*if (email!='habit_shine@163.com'){
      alert('Habit 在测试，请勿占用资源！')
      return false;
    }*/
    $.ajax({
      type: "POST",
      cache: false,
      dataType: 'json',
      url: "https://app-p1.imaiyuan.com/shopify/login",
      data: {
        "email": email,
        "password": password,
        "shopifyBaseUri": "https://mysoufeel.myshopify.com"
      },
      success: function(res){
        if (res.code == 0 && res.error == 0){
          var result = res.response;
          console.log('isShopifyUser', result.isShopifyUser)
          console.log('isMagentoUser', result.isMagentoUser)
          if (result.isShopifyUser === true){
            form.submit();
            /*login({
              email,
              password: aes.decrypt(password)
            }, form);*/
          }else if (result.isMagentoUser === true){
            register({
              email,
              password: aes.decrypt(password),
              ...res.response.customerInfo
            }, form);
          }
        }else{
          form.find('.errors').remove();
          form.prepend('<div class="errors"><ul><li>' + res.response + '</li></ul></div>')
        }
      }
    });
  }
  $(function(){
    
    /*var params = {
      "email": "3585036016@qq.com",
      'd245151981'
      "password": "pOHAzk7WKDryYvGtPJFcLw==",
      "shopifyBaseUri": "https://mysoufeel.myshopify.com"
    };*/
    $('.form-vertical').on('submit', 'form', function(){
      if ($(this).attr('action') == '/account/login') {
        doLogin($(this));
      }else{
        return true;
      }
      return false;
    })

    
  })
</script> {% endcomment %}

<script>

function taggerBlock(tag){
  if(tag=="login"){
    $(".register_block").hide()
    $(".login_block").show()
    $("#register_tag").removeClass("active")
    $("#login_tag").addClass("active")
  }else{
    $(".register_block").show()
    $(".login_block").hide()
    $("#login_tag").removeClass("active")
    $("#register_tag").addClass("active")
  }
}

Shopify.urlParam('action') == 'register' ? taggerBlock() : taggerBlock('login');


$("#login_tag").click(function(e){
  taggerBlock('login')
})

$("#register_tag").click(function(e){
  taggerBlock()
})

</script>