 
<style>
  .pages-banner-pc{
    display:block;
    margin: 0 auto;
  } 
  .pages-banner-mb{display:none;} 
  @media(max-width:768px){
    .pages-banner-pc{display:none;}
    .pages-banner-mb{display:block;} 
    .pages-banner.new{    width: 100%;}
  }
</style>
 
{% for block in section.blocks %}
{% if handle == block.settings.handle %}
  <div class="pages-banner new"> 
    {%unless block.settings.url == blank %}<a href="{{ block.settings.url }}">{%endunless%}
    <img data-src="{{ block.settings.pc_image | img_url: 'master' }}" class="lazyload pages-banner-pc" />
    <img data-src="{{ block.settings.mb_image | img_url: 'master' }}" class="lazyload pages-banner-mb" />
     {%unless block.settings.url == blank %} </a>{% endunless %}
</div>
{% endif%}
{% endfor %}
    
{% schema %}
{
  "name": "banner",  
  "class":"activity-template-banner",
  "settings": [
    {
      "type": "paragraph",
      "content": "collection-new-in-banner"
	}
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "活动页banner",
      "settings": [
    	{
		  "type": "text",
          "id": "title",
          "label": "哪个活动"
	    },
		{
		  "type": "text",
          "id": "handle",
          "label": "活动url"
	    },
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "PC图片"
        },
        {
          "type": "image_picker",
          "id": "mb_image",
          "label": "MB图片"
        },{ "type": "url",
          "id": "url",
          "label": "图片链接"}

      ]
    }    
  ]
}
{% endschema %}

