{% comment %}
活动页如需改版请在这个文件里添加css文件 例如：
{% if handle == 'ade-demo' %}
	{{'ade-demo.scss.css' | asset_url | stylesheet_tag }}
{% endif%}
{% endcomment %}
<style>
  .pages-banner-pc{
    display:block;
    margin: 0 auto;
  }
  .pages-coupon-banner-pc{
    display:block;
    margin: 0 auto;
  }
  .collection-banner-swiper {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom:10px;
  }
  .collection-swiper-pagination{
    z-index: 1;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: -3px;
  }
  .pages-banner-mb{display:none;}
  .pages-coupon-banner-mb{display:none;}
  @media(max-width:768px){
    .pages-banner-pc{display:none;}
    .pages-banner-mb{display:block;}
    .pages-coupon-banner-pc{display:none;}
    .pages-coupon-banner-mb{display:block;}
    
  }
</style>
<div class="collection-banner-swiper">
  <div class="swiper-wrapper">
    {% for block in section.blocks %}
    {% if handle == block.settings.handle %}
    <div class="collection-banner-slide swiper-slide">
        <img data-src="{{ block.settings.pc_image | img_url: 'master' }}" class="lazyload pages-banner-pc" />
        <img data-src="{{ block.settings.mb_image | img_url: 'master' }}" class="lazyload pages-banner-mb" />
    </div>
    {% endif%}
    {% endfor %}
  </div>
  <div class="collection-swiper-pagination"></div>
</div>

<script>
  if($(".collection-banner-slide").length > 1){    
    var collectionSwiper = new Swiper ('.collection-banner-swiper', {
      pagination: {
        el: '.collection-swiper-pagination',
        clickable :true,
      },
    });
  }
</script>
{% schema %}
{
  "name": "分类页banner",  
  "class":"collection-banner",
  "settings": [
    {
      "type": "paragraph",
      "content": "collection-bannerr"
    }
  ],
  "blocks": [
    {
      "type": "banner",
      "name": "分类页banner",
      "settings": [
    	{
		  "type": "text",
          "id": "title",
          "label": "哪个页面"
	    },
		{
		  "type": "text",
          "id": "handle",
          "label": "页面url"
	    },
        {
          "type": "image_picker",
          "id": "pc_image",
          "label": "PC 图片"
        },
        {
          "type": "image_picker",
          "id": "mb_image",
          "label": "MB 图片"
        }

      ]
    }    
  ]
}
{% endschema %}

