<style >
  .home-advantage{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    z-index: 10;
    position: relative;
    padding: 0 28px;
  }
  .advantage-box{
    max-width: 1372px;
    box-shadow: 0px 4px 16px 0 rgb(183,183,192,0.3);
    background:#fff;
    display:flex;
    border-radius: 12px;
    justify-content: space-around;
    transform: translateY(-150px);
    padding: 0 30px;
  }
  .advantage-item-box {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding:31px 6px 25px 6px;
  }
  .item-image{
    width:168px;
    height:168px;
  }
  .item-image img{
    width:100%;
    border: 0;
  }
  .item-title{
    margin-top:14px;
    font-size:24px;
    line-height:32px; 
    color:#222;
    text-align:center;
    padding-bottom: 8px;
  }
  .item-text{
    font-size:16px;
    line-height:32px;
    text-align: center;
  }
  @media screen and (max-width: 768px){
    .home-advantage{
      padding:40px 20px;
      background: #F6F6F9;
    }
    .advantage-box{
      width:100%;
      margin-top:0px;
      flex-wrap: wrap;
    } 
    .item-image{
      width:88px;
      height:88px;
    }
    .item-title{
      margin-top:0px;
      font-size:16px;
    }
    .item-text{
      font-size:12px;
      line-height:24px;
    }

  }
  
</style > 

<div class="advantage-box"> 
  {% for block in section.blocks %}
  {% assign pc_resize = block.settings.iconimage.width | append: "x" | append: block.settings.iconimage.height %}
  <div class="advantage-item-box">
    <div class="item-image">
      <img src="{{block.settings.iconimage | img_url: pc_resize}}  "/>
    </div>

    <div class="item-title alifont_bold">
      {{block.settings.title}}
    </div>
    <div class="item-text alifont">
      {{block.settings.text}}
    </div>
  </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": {
      "en": "首页 优势"
    },
    "class": "home-advantage",
    "settings": [  {
        "type": "text",
        "id": "private",
        "label": "程序参考字段默认勿动",
        "default": "home-advantage"
        }
    ], 
 "blocks": [
    {
      "type": "advantage",
      "name": "每个优势点",
      "settings": [
        {
          "type": "image_picker",
          "id": "iconimage",
          "label": "icon图标"
        }, 
        {
          "type": "text",
          "id": "title",
          "label": "标题 "
        }, 
        {
          "type": "textarea",
          "id": "text",
          "label": "优势点 "
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Custom",
      "name": "首页 优势"
    }
  ]
}
{% endschema %}