{% comment %}
** @name 产品介绍部分 **
** @author 王天宇 **
** @integrate 王天宇 **
{% endcomment %}
<style>
  .product-introduce {
    display: flex;
    padding-top: 88px;
    max-width: 1263px;
    background: #FAFAFC;
  }
  .product-introduce .introduce-left {
    display: flex;
    width: 23%;
    min-width: 150px;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
  }
  .product-introduce .introduce-left a {
    display: block;
    margin-bottom: 30px;
    padding-right: 20%;
  }
  .product-introduce .introduce-left a.introduce-active {
  	color: red;
    border-right: 2px solid red;
  }
  .product-introduce .introduce-right {
    padding-left: 4%;
    color: #333;
  }
  .product-introduce .introduce-right a {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1;
  }
  .product-introduce .introduce-right p {
    line-height: 1.5;
  }
  .product-introduce .introduce-right .right-item {
  	margin-bottom: 100px;
  }
  .product-introduce .introduce-right .key-features {
  	display: flex;
  }
  .product-introduce .introduce-right .key-features .feature-item {
    padding: 14px;
  	width: 32%;
    text-align: center;
  }
  .product-introduce .introduce-right .key-features .feature-item .item-title {
    padding: 10px;
    font-size: 16px;
  }
  .product-introduce .introduce-right .key-features .feature-item .item-description {
    font-size: 12px;
    color: #999;
    line-height: 2;
  }
  
</style>
  
<div class="container product-introduce">
  <div class="introduce-left">
    <a class="introduce-active" href="#about">About</a>
    <a href="#feature">Key features</a>
    <a href="#care">Care instructions</a>
    <a href="#guide">Size guide</a>  
  </div>
  <div class="introduce-right">
    <div class="right-item">
      <a name="about">About</a>
      <p>The Alstyle 1301 is a unisex tee for every casual outing. Made 100% with preshrunk cotton, this tee is supremely soft while the classic fit makes it an easy-going choice for a number of occasions. Add your design and create a highly versatile staple for everyday wear.</p>
    </div>
    <div class="right-item">
      <a name="feature">Key features</a>
      <div class=" key-features">
        <div class="feature-item">
          <img src="" alt="" />
          <div class="item-title">Fiber composition</div>
          <div class="item-description">Solid colors are 100% cotton (Athletic Heather is 90% cotton, 10% polyester; Charcoal Heather and Safety Green are 50% cotton, 50% polyester; Ash is 99% cotton, 1% polyester)</div>
        </div>
        <div class="feature-item">
          <img src="" alt="" />
          <div class="item-title">Fiber composition</div>
          <div class="item-description">Solid colors are 100% cotton (Athletic Heather is 90% cotton, 10% polyester; Charcoal Heather and Safety Green are 50% cotton, 50% polyester; Ash is 99% cotton, 1% polyester)</div>
        </div>
        <div class="feature-item">
          <img src="" alt="" />
          <div class="item-title">Fiber composition</div>
          <div class="item-description">Solid colors are 100% cotton (Athletic Heather is 90% cotton, 10% polyester; Charcoal Heather and Safety Green are 50% cotton, 50% polyester; Ash is 99% cotton, 1% polyester)</div>
        </div>
      </div>
    </div>
    <div class="right-item">
      <a name="care">Care instructions</a>
      <p>Machine wash: cold (max 30C or 90F), gentle cycle; Do not bleach; Tumble dry: low heat; Do not bleach; Dryclean.</p>
    </div>
    <div class="right-item">
      <a name="guide">Size guide</a>
      <p>Machine wash: cold (max 30C or 90F), gentle cycle; Do not bleach; Tumble dry: low heat; Do not bleach; Dryclean.</p>
      <img src="" alt="">
    </div>
  </div>
</div>
  
  
<script>
  $('.introduce-left a').on('click', function() {
    $('.introduce-left a').removeClass('introduce-active');
  	$(this).addClass('introduce-active');
  });
</script>


{% schema %}
  {
    "name": "产品页 - 信息介绍区域",
    "settings": [
      {
        "type": "paragraph",
        "content":"product-page-infos"
      }
    ]
  }
{% endschema %}