{% comment %}
** @name 产品介绍部分 **
** @author 王天宇 **
** @integrate 王天宇 **
{% endcomment %}
<style>
  .product-introduce {
    width: 100%;
    padding: 54px 0;
    background: #FAFAFC;
  }
  .product-introduce .product-introduce-content {
    display: flex;
    flex-direction: column;
    max-width: 1268px;
    padding: 0 28px 0 52px;
    margin: 0 auto;
  }
  .product-introduce .product-introduce-content h2,
  .product-introduce .product-introduce-content h2 span {
    font-family: alibaba-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
   	color: #222;
    font-size: 24px;
    padding-bottom: 0 10px;
    line-height: 32px;
  }
  .product-introduce .product-introduce-content p {
    font-family: alibaba-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
   	color: #222;
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 0;
  }
</style>
  
<div class="product-introduce">
  <div class="product-introduce-content">
    {{product.description}}
  </div>
</div>
  
  
<script>
  
</script>


{% schema %}
  {
    "name": "产品页 - 信息介绍区域",
    "settings": [
      {
        "type": "paragraph",
        "content":"product-page-infos"
      }
    ]
  }
{% endschema %}