{% if section.settings.enable %}
{% if section.blocks.size > 0 %}
   {% for block in section.blocks %}
      {% assign productTags = product.tags | join:',' %}
        {% if productTags contains block.settings.info_tag %}
          <div class="new_model_text">  
            {{block.settings.content}}
          </div>
       {% endif %}
   {%endfor%}
{% endif %}
{% endif %}
{% schema %}
{
   "name": "问题-回答",
	"class": "product-page-anser",
    "settings": [
		{
          "type": "checkbox",
          "id": "enable",
          "label": "Enable"
        }
	],
   "blocks": [{
      "type": "QA",
      "name": " 问答",
      "settings": [

		{
         "type": "html",
         "id": "content",
         "label": "HTML 内容"
       
        },
{
          "type": "text",
          "id": "info_tag",
          "label": "TAG"
        }
	]
    }]
}
{% endschema %}