@font-face{
	font-family:"ACADEMICM54";
	src: url('//cdn.shopify.com/s/files/1/0372/6897/9848/t/31/assets/ACADEMICM54.woff?v=18134664709845115847') format('woff');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"FRIDAYNIGHT";
	src: url('//cdn.shopify.com/s/files/1/0372/6897/9848/t/31/assets/FRIDAYNIGHT.woff?v=16963071495717512516') format("woff");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"VERMIN";
	src: url('//cdn.shopify.com/s/files/1/0372/6897/9848/t/31/assets/VERMIN.woff?v=17665462105064018157') format("woff");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"COMBACK";
	src: url('//cdn.shopify.com/s/files/1/0372/6897/9848/t/31/assets/COMBACK.woff?v=17507853840323079458') format("woff");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:"DISTANT";
	src: url('//cdn.shopify.com/s/files/1/0372/6897/9848/t/31/assets/DISTANT.woff?v=5836182765563274920') format("woff");
	font-weight:normal;
	font-style:normal;
}