.tag_span_first ~ span{display:none !important}  
.remainTime{
  width:auto;
}
.blackfriday-time{   
  height: 60px;
  display: flex;
  color: #fff;
  align-items: center;
  width: 100%;
  justify-content: center;
  z-index:5;
}
.blackfriday-time-pc.stick-sub{
  height:60px;
}
.blackfriday-time-pc.stick-sub .blackfriday-time{
  position: fixed;
}
.blackfriday-time ul{
  margin: 0 8px 0 5px;
  display: flex;
  align-items: center;
}
.blackfriday-time ul li{
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.blackfriday-time ul li span{
  font-size: 12px;
  font-weight: normal;
  display: inline-block;
  transform: translate(1px,-2px);
  text-transform: capitalize;
}
.blackfriday-time ul li span.num{
  transform: translate(0px,0px);
  font-size: 18px;  
  display: inline-block;
}
.shopify-section.block-countdown-section {
  padding:0;
}
.blackfriday-time,.listicon{
  display:flex;
}
.view-place-top{
  display:flex;
  align-items: center;
  min-height: 32px;
}
.view-place-top .photo-daojishi1{  
  font-size: 1.8rem;
  line-height: 1;
}
.menutime{
  width:100%;
  display: flex;
  justify-content: center;
}
.direction-top-nav{
  max-width: 1150px;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.direction-top-nav.no-swiper{
  max-width: 800px;
}
.direction-top-nav.no-swiper .direction-shade .swiper-wrapper{
  display: flex;
  justify-content: center;
}
.direction-top-nav.no-swiper .direction-shade .swiper-wrapper .swiper-slide{
  width: auto;
}
.direction-shade{
  width:calc(100% - 50px);
  overflow: hidden;
}
.direction-top-nav.no-swiper .swiper-button-next1,.direction-top-nav.no-swiper .swiper-button-next2{
  display:none;
}
.swiper-slide.m-top-nav-slide{
  width: 150px;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 0;
  border-bottom: 0;
  padding: 0;
}
.swiper-slide.m-top-nav-slide a{
  display: block;
}
.swiper-button-next1,.swiper-button-next2{
  cursor: pointer;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center; 
  width: 25px;
  justify-content: flex-end;
}
.swiper-button-next1 i{
  transform: rotate(-180deg) translateY(-2px);
  display: inline-block;
}
.swiper-button-next1 i,.swiper-button-next2 i{
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
}
.itext{
  display: flex;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  padding: 0 1.3rem;
  justify-content: center;
  font-size: 12px;
  height: 60px;
}
.maodian{
  position:absolute;
  margin-top:-135px;
}
.pages-banner.benefit-banner{
  margin-top: 15px;
}
.shuxian{margin-left: 70px;}
.blackfriday-time-pc{
  z-index:3;
}
.naozhong{margin-top:2px}
.block-collection{
  margin: 25px auto 56px;
}
.block-collection .uldiv{
  max-width: 1360px;
  border-radius: 30px;
  position: relative;
  margin: 0 auto;
  padding: 0 0 30px 0;
}
.block-collection .uldiv:after{
  position: absolute;
  content: "";
  width: calc(100% - 24px);
  height: calc(100% - 20px);
  display: block;
  top: 10px;
  left: 12px;
  border-radius: 25px; 
  pointer-events: none;
}

.block-collection-newactive2019-collection2 .uldiv{ 
  box-shadow: none;  
  overflow: hidden;   
  z-index: 1;
}
.block-collection-newactive2019-collection2 .uldiv:before{       
    position: absolute;
    content: ""; 
    height: 64px;
    border: none;
    top: unset;
    bottom: 0;
    width: 100%;
    border-radius: 0; 
    left: 1px;  
}
.block-collection-newactive2019-collection2 .uldiv:after {
    border:none;
    position: absolute;
    content: "";
    width: 100%;
    height: 96%;
    display: block;
    top: 150px;
    border-radius: 0;
    pointer-events: none; 
    left: 0;
    z-index: -1;
}
.block-collection .title{
  text-align: center;
  letter-spacing: 0;
  padding:3rem 0 0rem 0;
  font-family:"OpenSans";
  font-size: 30px;
  margin-bottom: 15px;
  line-height: 1;
}  
.block-collection .sub_title{
  text-align: center;    
  font-size: 12px;
  letter-spacing: 1px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0px;
  max-width: 45%;
  margin: 0 auto;
  font-style: italic;  
  position: relative;
}
.block-collection .block-collection-items{
  width:1240px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  padding:70px 20px 20px;
  margin-bottom: 0;
  margin-top:15px;
  margin:0 auto;
}
  .block-collection .others .block-collection-items{  padding:50px 20px 20px;}
.block-collection .block-collection-items .product-card__image-wrapper{
  position: relative;
}
.block-collection .block-collection-items .product-card__name{
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 8px 0;
  line-height: 20px;
  cursor: pointer;
  line-height: 1;  
}
.product-card__price{  
  margin: 5px 0;
}
.block-collection .block-collection-items .product-card__sale-price{
  font-size: 12px;;
  font-weight: bold;
}
.block-collection .block-collection-items .product-card__regular-price{
  font-size: 12px;
  text-decoration: line-through;
  margin-left:5px;
}
.shopify-section.section-block-collection {
  padding:0;
  background:#190101;
}
.tittle_more{
  text-align: center;
  margin: 25px 0;
}
.tittle_more a{
  font-size: 14px;
  display: inline-block;
  padding: 1.12rem 4rem;
  border-radius: 50px;
  text-transform: capitalize;
  cursor: pointer;
}
.product-card__info{
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;
}
.activity-template-collection{
  padding-bottom: 70px;
}
.medium-up--btn.btn{
  padding: 8px;
  border-radius: 0;
  letter-spacing: 0;
  position: absolute;
  width: 100%;
  bottom: 0px;
  transition: all 0.3s;
  opacity: 0;
}
.block-collection-items .item:hover .medium-up--btn.btn{
/*   bottom: 0px; */
  opacity: 1;
}
.f-more{
  display:none;
}
.banner-pc{
  display:block;
}
.banner-mb{
  display:none;
}
.block-collection .block-collection-items .item{
  width:calc(25% - 10px);
  margin: 0 5px 10px;
  z-index:2;
}
.product-card__image{
  position: relative;
}
.product-card__image .defaultImage {
  opacity: 1;  
}
.product-card__image .hoverImage{
  transition: all 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
@media(min-width:768px){
.product-card__image:hover .defaultImage{
  opacity: 0;
}
.product-card__image:hover .hoverImage{
  opacity: 1;
}
}
.discount_box .discount_box_mb{display:none;}
.discount_box{
  position: absolute;
  top: 0;
  left: unset;
  background: #dc044e;
  background-image: linear-gradient(to right, #f8424d, #dc044e);
  color: #fff;
  border-radius: 0 0 0 6px;
  padding: 5px 12px;
  font-size: 13px;
  line-height: 1;
  z-index: 1;
  right: 0;
}
.collection-label {
  height:25px;
  margin-top: 5px;
}
.collection-label span{
  padding: 5px 2rem;
  color: #fff;
  line-height: 1;
  display: inline-block;
  font-size: 12px;
  border-radius: 5px;
}
.topsale{
  position: absolute;
  top: -40px;
  width: 100%;
  left: calc(50% - 119px);
}


  
.title span{
  z-index:1;
  position:relative;
  padding:0 200p;
  
}

@media(max-width:768px){


   
  .title span{z-index:1;position:relative;padding:0 0px}
.topsale{
  position: absolute;
  left: calc(50% - 60px);
  top: -20px;
  width: 120px;
}
.pages-banner.benefit-banner{
  margin-top: 8px;
}
.menutime{
  flex-flow: wrap-reverse;
}
.swiper-slide.m-top-nav-slide{
  width: 120px;
}
.view-place-top{
  width: 100%;
  justify-content: center;
}
.view-place-top .photo-daojishi1{
  font-size: 1.5rem;
}
.main-content div.block-collection {
  background-size: contain;
  z-index: 1;
}
  
.blackfriday-time{
  height: 76px;
}
.swiper-button-next1 i{
  transform: rotate(-180deg) translateY(0px);
}
.swiper-button-next1 i, .swiper-button-next2 i{
  font-size: 1.5rem;
}
.direction-shade{
  width: calc(100% - 38px); 
}
.blackfriday-time ul li span.num{
  font-weight: 500;
  font-size: 17px;
  margin-top:-1px;
  line-height: 33px;
}
.blackfriday-time ul li span.txt{
  transform: scale(.8) translate(-1px,-4px);
}
.itext{
  height: 44px;
  padding: 0 .5rem;
}
.blackfriday-time ul li{
  margin: 0 3px;
  padding-right: 0px;
}
.maodian{
  position:absolute;
  margin-top:-100px;
}
.block-collection{
  margin:8px auto 25px;
  padding:0 3px;  
}
.block-collection .title {
  font-size: 20px;
}  
.banner-pc{display:none;}
.banner-mb{display:block;}
.product-card__price{display: flex;}
.block-collection .uldiv{
  border-radius: 15px;
}
.block-collection .sub_title{
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1.2;
  width: 100%;
  max-width: 100%;
  padding: 0 10px;  
}
.block-collection .block-collection-items .item{
  width:calc(50% - 10px);
  border-width: 0.2rem;
  z-index:1; 
  margin: 5px;
}
.block-collection .uldiv:after{
  display:none;
} 
.main-content div.block-collection{
  background-size: contain;
}
.block-collection .product-card__price{
  flex-wrap: wrap;
  align-items: baseline;
}
.block-collection .block-collection-items .product-card__name {
  font-weight: normal;
  line-height: 1.2rem;
  font-size:12px;
}
.block-collection .block-collection-items .product-card__regular-price{
  font-size: 12px;
}
.product-card__price span {
  display:block;
  text-align:center;
}
.block-collection .block-collection-items{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;  
  padding:30px 5px 30px;
  width:100%;
}
.block-collection .block-collection-items .product-card__sale-price{
  margin-left:1px;
  font-size:14px;
}
.block-collection .tittle_more {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 2;
  max-width: unset;
  padding-bottom: 0;
  background-size: contain;
}
.tittle_more a{
  width: auto;
  font-size: 14px;
  padding: .6rem 3rem;
} 
.collection-label span{
  border-radius: 4px;
  padding: 4px;
  transform: scale(.85) translate(-10px, -3px);
}
.blackfriday-time-pc.stick-sub .blackfriday-time .direction-top-nav{
  position: fixed;
  z-index: 10;
  width: 100%;
}
footer.site-footer{
  margin-top: 0;
}  
.discount_box .discount_box_pc{display:none;}
.discount_box .discount_box_mb{display:block;}
.blackfriday-time-pc.stick-sub .blackfriday-time{position: unset;}
.product-card__info{padding-bottom: 0;}
.collection-label{height: 30px;}
.yotpo .text-m,.yotpo.bottomLine .yotpo-bottomline .yotpo-icon-star, .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-half-star, .yotpo.bottomLine .yotpo-bottomline .yotpo-icon-empty-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-half-star, .yotpo.bottomline .yotpo-bottomline .yotpo-icon-empty-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-half-star, .yotpo .yotpo-modal-bottom-line .yotpo-bottomline .yotpo-icon-empty-star{font-size: 12px;}
.yotpo .standalone-bottomline.star-clickable, .yotpo .standalone-bottomline .star-clickable{align-items: center;}
.product-card__image:hover .hoverImage,.block-collection-items .item:hover .medium-up--btn.btn{opacity:0;}



}
