<style>
.home-shop-instagram a:hover {color: #444;}
.home.main-center {
    float: left;
    margin: 100px 15px 70px 15px;
    width: 98%;
    text-align: center;
}
.home.main-center .no-margin img {
    margin-top: 13px;
    margin-right: 13px;
}
.home.main-center .no-margin:after {
    content: '';
    background: #d9d9d9;
    height: 1px;
    width: 100%;
    top: 41%;
    float: left;
    position: absolute;
    left: 0;
    z-index: 0;
}
.home.main-center .no-margin span {
    z-index: 1;
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 0 10px;
}
.home.main-center .no-margin {
    font-size: 40px;
    padding-bottom: 18px;
    position: relative;
}
div.fs-has-links { text-indent: -9999px; position: static; font-weight: 500; } .fs-has-links::after {  padding: 3px 6px; color:rgb(255, 255, 255); content: "SHOP IT"; text-indent: 0; display: block; font-size: 10pt; margin: 10px; }.fs-desktop .fs-timeline-entry div.fs-text-container { display: flex; flex-direction: column;align-items: center; justify-content: center; display: -webkit-flex;  -webkit-flex-direction: column;  -webkit-align-items: center;  -webkit-justify-content: center;  display: -ms-flexbox;  -ms-flex-direction: column;  -ms-flex-align: center;  -ms-flex-pack: center; transition: opacity .25s; } .fs-desktop .fs-timeline-entry .fs-text-container:hover { opacity: 1; } .fs-wrapper div.fs-text-container .fs-entry-title, div.fs-detail-title{font-family:Telugu MN;font-style:italic;font-weight:normal;}div.fs-text-container .fs-entry-date, div.fs-detail-container .fs-post-info, div.fs-wrapper div.fs-has-links::after, .fs-text-product, .fs-overlink-text{font-family:Telugu MN;font-style:normal;font-weight:bold;}.fs-wrapper div.fs-text-container * {color:rgb(255, 255, 255)}.fs-wrapper div.fs-text-container {background-color:rgba(0, 0, 0, 0.65); margin: 0px}div.fs-entry-date{display:none}div.fs-entry-title{display:none}.fs-wrapper div.fs-timeline-entry{ margin: 1px }
.col-main.container,.main.container{padding-right:0;padding-bottom:0;padding-left:0;width:100%}
.cms-shop-instagram .main-container{padding: 10px 0 50px;}

@media(max-width:1024px){
.cms-shop-instagram .main-container{ padding:100px 0 50px;}
.home.main-center {    float: left;    margin: 8px 0 25px 0;}
}
@media(max-width:768px){
.cms-shop-instagram .main-container{ padding: 25px 0 50px;   
    top: 0;}
.home.main-center {    float: left;    margin: 8px 0 10px 0;}
.home.main-center .no-margin span {
    z-index: 1;
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 0 10px;
}
.home.main-center .no-margin {
    font-size: 20px;
    padding-bottom: 2px;
    position: relative;
}
.pchome-title {
    margin-top: 0px;
}
.home.main-center {
    float: left;
    margin: 8px 0 10px 0;
}
.home-shop-instagram {
    width: 100%;
    float: left;
}
.home.main-center .no-margin img {
    margin-top: 2px;
    margin-right: 8px;
}
.home.main-center h4.fs18 {
    font-size: 16px;
}
}

</style>
<div class="center home-shop-instagram">
	<div class="shop-instagram">
	<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="SoufeelJewelry" data-open-links-in-same-page="false" data-theme="sizes_v2_5" data-page-size="28"></script>
 </div>
</div>
 