

<style>
body{margin-bottom: 0px !important;}
.main-container {margin-top: -10px !important;padding-top: 0px; }
.main.container {max-width: 100%; width: 100%; padding: 0; background:#fff;    color: #434343;}
.col-main { padding-bottom: 30px; width: 100%;  padding: 0;}
.wholesale-page .join{ width: 1170px; margin: 0 auto; text-align: left;}
.wholesale-page .join ul{     padding: 0 20px;}
.wholesale-page .join .join-nr{ width:100%}
.wholesale-page .join li{ list-style:none;    width: 45%; float: left; margin-top:20px;}
.wholesale-page .join li.input-li{ margin-right:5%;} 
.wholesale-page .join li.text-comment{ width:95%} 
.wholesale-page .join li.text-comment textarea{ width:100%; min-height:100px;} 
.wholesale-page .join li input{padding: 15px; width: 100%;border-radius: 3px; border: 1px solid #dedede;}
.wholesale-page .share{     width: 100%; float: left;}
.wholesale-page .share #submitImg{padding: 20px 100px; background-color: #e60044;  width: auto;  float: left; margin-left: 1.5em; color: #fff; margin-top: 20px; border-radius: 3px;      margin-bottom: 20px; }
.wholesale-page .join-remind{ padding: 80px 0px 10px 1.5em; width: 100%;margin: 0 auto;    color: #434343;}
.wholesale-page .join-remind span{ color:#2d64b3} 
.wholesale-page .input-budget{ width:100%}
.wenzi{ width:600px; padding:60px 0;}
.wenzi1{ font-size:16px; color:#e60044}
.wholesale-page{ background:#fff}
.join-remind .p1{
  text-align: left;
  margin: 0;
  font-size: 30px;
  color: #434343;
  font-weight: 600;
  margin-bottom: 35px;
  font-family: Arial;
}
.join-remind .p2{
  font-size: 28px;
  font-family: Arial; 
  margin-bottom: 0;
}
.join-remind .p3{  
  font-size: 14px;
  line-height: 24px;
  margin-top: 32px; 
  font-family: Arial;
}
.join-remind .p4{     margin-top: 40px;font-family: Arial;}
.join-remind .p4 a{    font-size: 16px;
    text-decoration: underline;
    margin-right: 60px;
    color: #3085c7; } 
.join-remind .p5{    font-size: 16px;
    margin-top: 50px; font-family: Arial;}
.join-botom{ float:left; width:100%;}
.join-botom .p6{    font-size: 14px;
    margin-top: 25px;font-family: Arial;}
.join-botom .p7{    font-size: 16px;
    font-weight: 500; color:#3085c7;font-family: Arial;}
.join-botom .p8{    font-size: 14px;
    line-height: 24px;
    margin-top: 30px;
font-family: Arial;}
.join-botom .p8 span{    color: #cf193f; }
@media (max-width: 1191px){
.wholesale-page .join{ width: 100%; }	
	} .pc-aboutusimg{display:block}
  .mb-aboutusimg{display:none}
@media (max-width: 768px){
  .mb-aboutusimg{display:block}
  .pc-aboutusimg{display:none}
.wholesale-page .join{ width: 100%; }	
.wholesale-page .join li{ list-style:none;    width: 100%; }
.wholesale-page .join li.input-li{ margin-right:0%;} 
.wholesale-page .join li.text-comment {
    width: 100%;
}}
@media (max-width: 640px){
    .wholesale-page .page-banner{ height: 200px}
.wenzi{ width:100%; padding:30px 0;}
.wenzi1{ font-size:16px;}
.wholesale-page .share #submitImg{ padding:20px 0px; width:88%;text-align: center;}
.wholesale-page .join-remind {
    padding: 0;
    width: 90%;
    margin-top: 25px;
}
.join-remind .p1 {
    font-size: 20px;
    margin-bottom: 10px;
}
.join-remind .p2 {
    font-size: 18px;
}
.join-remind .p4 {
    margin-top: 20px;
}
.join-remind .p5 {
    font-size: 16px;
    margin-top: 35px;
}
.join-botom {
    float: left;
    width: 90%;
    margin-left: 5%;
}
	}
</style>
<div class="wholesale-page">
    	<div class="page-banner"> 
            <img class="pc-aboutusimg" src="https://cdn.shopify.com/s/files/1/0513/9955/7272/files/resellersus_01.jpg?v=1607917380">   
            <img class="mb-aboutusimg" src="https://cdn.shopify.com/s/files/1/0513/9955/7272/files/resellersus_01-mobile.jpg?v=1607917608">
        </div>
            <div class="join">
            <div class="join-remind">
				<h2 class="p1">SOUFEEL RESELLERS PROGRAM</h2>
				<p class="p2">Are you currently trying to expand your Local or Global business?</p>
				<p class="p2">Are you looking for opportunities to improve your sales & revenue?</p>
				<p class="p2">As a matter of fact, you have got it!</p>
				<p class="p3">SOUFEEL reseller program is the best choice for you. Anyone can place wholesale order with us. It will be the perfect way to start your very own business. Our products can be extremely inexpensive and with high quality. More quantity, more discount. You can guarantee that all SOUFEEL products can be availed at an affordable price. Soufeel creates and provides quality product images / holiday banners as well as promotional videos which helps you inspire and activate your new&potential customers.</p>
				<p class="p4"><a href="/blogs/about-products">About Products Material & Quality</a> <a href="/pages/90-day-returns"> Return & Exchange Policy</a></p>
				<p class="p5">To become A SOUFEEL reseller, please fill out the form below and let us help you get started.</p>
			</div>
            <div class="join-nr" align="right">
                <ul> 
                    <li class="input-li"><input class="input-a" name="name" id="name" type="text" placeholder="Name"></li>
                     <li class="input-li"><input class="input-a" name="email" id="email" placeholder="Email" type="text"></li> 
                    <li class="input-li"><input class="input-a" name="telephone" id="telephone" placeholder="Telephone" type="text"></li>
                    <li class="input-li"><input class="input-a" name="address" id="address" placeholder="Street&nbsp;Address" type="text"></li>
                    <li class="input-li"><input class="input-a" name="city" id="city" placeholder="City" type="text"></li>
                    <li class="input-li"><input class="input-a" name="state" id="state" placeholder="State" type="text"></li>                                
                    <li class="input-li"><input class="input-a" name="country" id="country" placeholder="Country" type="text"></li>
                    <li class="input-li"><input class="input-a" name="zip_code" id="zip_code" placeholder="Zip Code" type="text"></li>
                    <li class="text-comment"><textarea name="reseller" rows="6" class="input-a" placeholder="Your Request" id="reseller"></textarea></li>
                </ul>
                <a class="share" href="javascript:void(0)"><div id="submitImg" class="button">Submit</div></a>
            </div>
			<div class="join-botom">
				<p class="p6">Please allow up to 48 hours for a representative to contact you. Or you can contact us directly for a quick response within 24 hours (business days only)</p>
				<p class="p7">Email and Skype: Reseller@soufeel.com</p>
				<p class="p8">Once you're successfully approved as a Soufeel reseller, your wholesale prices automatically display when you're logged-in to the reseller account at <span> reseller.imaiyuan.com </span>, then you are good to go and place your wholesale orders from SOUFEEL.</p>
			</div>
      
  
        </div> 
    
       
         
    </div>
