{% layout none %}
{{ page.content }}

<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="theme-color" content="#ffffff">
  <link href="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/bootstrap.min.css?2640895772099086810" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/theme.scss.css?2640895772099086810" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/swiper.min.css?2640895772099086810" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/zen-tingle.css?2640895772099086810" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/pop-cropper.min.css?2640895772099086810" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/paymentfont.scss.css?2640895772099086810" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/video-js.css?2640895772099086810" rel="stylesheet" type="text/css" media="all" />
  <link href="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/iconfont.css?2640895772099086810" rel="stylesheet" type="text/css" media="all" />
  


  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/jquery-3.3.1.min.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/jquery-cookie.js?2640895772099086810" type="text/javascript"></script>

  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/popper.min.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/bootstrap.min.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/pop-cropper.min.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/pop-jquery-cropper.min.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/zen-tingle.js?2640895772099086810" type="text/javascript"></script>

  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/swiper.min.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/custom.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/video.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/lazysizes.min.js?2640895772099086810" type="text/javascript"></script>

  

  <script src="//cdn.shopify.com/s/assets/themes_support/option_selection-ea4f4a242e299f2227b2b8038152223f741e90780c0c766883939e8902542bda.js" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/assets/themes_support/api.jquery-0ea851da22ae87c0290f4eeb24bc8b513ca182f3eb721d147c009ae0f5ce14f9.js" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/assets/themes_support/shopify_common-040322ee69221c50a47032355f2f7e6cbae505567e2157d53dfb0a2e7701839c.js" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/assets/themes_support/customer_area-4beccea87758d91106a581ba89341d9b51842f6da79209258c8297239e950343.js" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/javascripts/currencies.js" type="text/javascript"></script>

  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/vendor.js?2640895772099086810" type="text/javascript"></script>
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/shop.js?2640895772099086810" type="text/javascript"></script>  
  <script src="//cdn.shopify.com/s/files/1/0075/2936/5568/t/7/assets/theme.js?2640895772099086810" type="text/javascript"></script>
</head>
<body>
<div id="ddddd">1</div>
<div id="navbar-example2" class="asdasdasdasdasd">
<li>
      <a class="nav-link" href="#section-1546962499011">@fat</a>
    </li>
    <li>
      <a class="nav-link" href="#section-1546962586746">@mdo</a>
    </li>
    <li>
        <a class="dropdown-item" href="#section-1547003367156">one</a>
    </li>
  </ul>
</div>
<div data-spy="scroll" data-target="#navbar-example2" data-offset="100" style="margin-top:500px;">
  <h4 id="section-1546962499011">@fat</h4>
  <p style="height:800px;">...</p>
  <h4 id="section-1546962586746">@mdo</h4>
  <p style="height:800px;">...</p>
  <h4 id="section-1547003367156">one</h4>
  <p style="height:800px;">...</p>
</div>

<script>
$('body').scrollspy({ target: '#navbar-example2' });
        ///$("#myScrollspy").scrollspy();
 $(window).on('activate.bs.scrollspy', function () {
            console.log("This event is not firing...");
        });
</script>
</body>