{% comment %} 
** @name  文章列表页面**
** @author 陈健辉 **
** @integrate 陈健辉 **
** @remarks 暂无作者头像信息 **
{% endcomment %}

<style>
.search-container{
  display: none;
}

.article_module_search{
  padding: 20px;
  background: #F6F6F9;
}
.article_search_title{
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  color: #222222;
}
.article_search{
  display: flex;
  align-items: center;
  padding: 6px 10px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(106, 102, 136, 0.08), 0 4px 16px 0 rgba(183,183,192,0.3);
  margin: 20px 0;
  border-radius: 4px;
}
.article_search img{
  width: 20px;
  height: 20px;
}
.article_search input{
  border: none;
  background: transparent;
}

.article_list_module{
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.article_item{
  background: rgba(246,246,249,0.5);
  border-radius: 4px;
  color: #222222;
  line-height: 24px;
  position: relative;
}
.article_item::after {
    display: block;
    width: 100%;
    height: 100%;
    background: #ccc;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    opacity: 0;
}
.article_img{
  padding: 5px;
  overflow: hidden;
}
.article_img img{
  width: 100%;
}
.article_detail_module{
  padding: 10px;
}
.article_title{
  font-size: 16px;
  font-weight: bold;
}
.article_author_time{
  font-size: 12px;
  margin: 20px 0;
}
.article_time{
  color: #928FA5;
}
.article_detail{
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.article_load_more{
  margin: 20px 0 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222222;
}
.article_current{
  font-size: 14px;
  line-height: 20px;
}
.article_load_btn{
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid rgba(34,34,34,0.08);
  background: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 4px 4px 4px 16px;
}

/* 移动端样式 */
@media screen and (max-width: 749px) {
  .article_img{
    max-height: 162px;
  }
}

/* PC端样式 */
@media screen and (min-width: 750px) {
  .article_module_search{
    padding: 60px 0;
  }
  .article_search_title,
  .article_search{
    max-width: 1100px;
    margin: 0 auto;
  }
  .article_search_title{
    margin-bottom: 20px;
  }

  .article_list_module{
    flex-direction: row;
    max-width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    padding: 60px 0 20px;
  }
  .article_item{
    width: 380px;
  }
  .article_item,
  .article_load_btn{
    cursor: pointer;
  }
}
</style>

{% comment %} 顶部搜索模块 {% endcomment %}
<div class="article_module_search">
  {% comment %} 模块标题 {% endcomment %}
  <div class="article_search_title">
    Advice and answers from the Mademine Team
  </div>
  {% comment %} 模块搜索框 {% endcomment %}
  <div class="article_search">
    <img src="{{ 'search.svg' | asset_url }}" alt="serach">
    <input
      type="text"
      placeholder="Search for articles"
      id="searchInput"
      value=""/>
  </div>
</div>

{% comment %} 文字列表模块 {% endcomment %}
<div id="article_list_module" class="article_list_module">
  {% comment %} 文章列表数据通过JS动态渲染
  <div class="article_item">
    // 文章图片
    <div class="article_img">
      <img src="https://cdn.shopify.com/s/files/1/0372/6897/9848/products/B_400x.jpg?v=1588056625" alt="">
    </div>
    // 文章描述
    <div class="article_detail_module">
      <div class="article_title">How can I create a product with Mademine?</div>
      <div class="article_author_time">
        <span class="article_author">Liz Ortner, </span>
        <span class="article_time">Updated yesterday</span>
      </div>
      <div class="article_detail">
        Mademine currently offers more than 200 unique products for your e-commerce store — from t-shirts to puzzles to pet beds — all of which can be custom-printed with your chosen designs
      </div>
    </div>
  </div>
  {% endcomment %}
</div>

{% comment %} 加载更多模块 {% endcomment %}
<div class="article_load_more">
  {% comment %} 当前显示数据/总数量 {% endcomment %}
  <div class="article_current">Show <span id="current_show">3/50</span> tarticles</div>
  {% comment %} 加载按钮 {% endcomment %}
  <div id="article_load_btn" class="article_load_btn">
    <span>Show more</span>
    <img src="{{'next-bottom.svg' | asset_url}}" />
  </div>
</div>

<script>
// const articleList = {{blog.articles | json}}; // 获取文章列表数据
const articleList = [];

// Mock数据 Start
const MockItem = {
  imgUrl: 'https://cdn.shopify.com/s/files/1/0372/6897/9848/products/B_400x.jpg?v=1588056625',
  title: 'How can I create a product with Mademine?',
  author: 'Liz Ortner',
  time: 'Updated yesterday',
  detail: 'Mademine currently offers more than 200 unique products for your e-commerce store — from t-shirts to puzzles to pet beds — all of which can be custom-printed with your chosen designs'
};
for(var i = 0; i < 50; i++){
  articleList.push({...MockItem, index: i});
}
// Mock数据 End

let pageNum = 1; // 页码
let pageSize = 12; // 页容量
let total = articleList.length || 0; // 总数
let pages = Math.ceil(total / pageSize); // 总页数

/* 点击加载更多事件 */
$('#article_load_btn').on('click', () => {
  pageNum++;
  // 判断是否已经加载全部数据
  if(pageNum >= pages){
    $('#article_load_btn').unbind('click');
    $('#article_load_btn').hide();
  };
  load();
});

/* load */
load();
function load(){
  const start = (pageNum - 1) * pageSize;
  let end = pageNum * pageSize;
  end = end >= total ? total : end;
  loadMore(articleList.slice(start, end));
  $('#current_show').html(`${end}/${total}`);
}

/* 
 * 加载更多数据
 * @param listData 需要渲染的列表数据
 */
function loadMore(listData){
  let articleTemplate = "";
  listData.forEach(item => {
    articleTemplate += `
      <div class="article_item" data-index="${item.index}">
        <div class="article_img">
          <img src="${item.imgUrl}" alt="">
        </div>
        <div class="article_detail_module">
          <div class="article_title">${item.title}</div>
          <div class="article_author_time">
            <span class="article_author">${item.author}, </span>
            <span class="article_time">${item.time}</span>
          </div>
          <div class="article_detail">${item.detail}</div>
        </div>
      </div>
    `;
  });
  $('#article_list_module').append(articleTemplate);
}
/* 绑定列表数据模块点击事件 通过事件委托获取事件源 */
$('#article_list_module').on('click', (event) => {
  console.log(event.target.dataset.index);
  location.href = '/pages/help-center-detail';
})
</script>