<style>
@media(min-width:769px){
.wholesale-page .wholesale-page_c.hr { padding: 2rem 0; } 
.wholesale-page .wholesale-page_d label{font-size:16px;    margin: 27px 0 c ;}
.wholesale-page .wholesale-page_d.last label{font-size:16px;    margin: 27px 0 0;}
.wholesale-page .container{ width:960px;padding:0;  font-size: 13px; line-height: 16px;} 
.wholesale-page_d.first ul { padding-left: 0; display: flex; justify-content: space-between; }
.wholesale-page_d.first ul li{position:relative; text-align: center; padding: 0; margin: 0; list-style: none; DISPLAY: FLEX; FLEX-DIRECTION: COLUMN; width: 106px;
}
.wholesale-page_d.first ul li span{
margin-top: 1rem;} 
.wholesale-page_d.first ul li:before{position:absolute;    right: -42px;
width:19px;height:19px;
top: 30%;
background:url(https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/iconright.png?v=1607914226) no-repeat;
content:"";}
.wholesale-page_d.first ul li:last-child:before{
display:none
}
.wholesale-page_d.last ul{  
background:url(https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/pc-bg-three.png?v=1607914226) no-repeat center center;
padding:5rem 0;  display: flex; JUSTIFY-CONTENT: space-between;}
.wholesale-page_d.last ul LI{    position: relative;
height: 270px;
width: 253px;
text-align: center;}
.wholesale-page_d.last ul LI img{
position: absolute;
top: 0;
left: 0;}
.wholesale-page p.wholesale-page_c_c_c{margin:0 0 .5rem 0;
font-size:14px;}
}
.wholesale-page_d.last ul LI span{       WIDTH: 69%;
display: block;
z-index: 10;
position: relative;
margin: 53% auto 0;
}
.wholesale-page{color:#000}

img { 
max-width: 100%;
}
.cms-wholesale-program .col-main.container{padding:0}
.wholesale-page ul li{padding:0;margin:0;list-style:none}   
.wholesale-page ul{padding-left: 0;}
.wholesale-page h2 {    
font-size: 34px;
text-align: center;
margin: 4rem 0;
color: #000;
font-weight: lighter;
    TEXT-TRANSFORM: UPPERCASE;
} 
.wholesale-page label{  margin: 15px 0;
padding: 0;
font-size: 16px;
color: #000;}
.wholesale-page label.icon{ font-size: 18PX;
COLOR: #000;
padding: 15PX;
position:relative }
.wholesale-page label.icon:before{
position: absolute;
content: "";
width: 5px;
height: 5px;
background: #E50044;
transform: rotate(45deg) translateY(-50%);
top: 50%;
left: 0;
}
.wholesale-page p{line-height:16px;} 
.wholesale-page p.wholesale-page_a{
border-bottom: 1px solid #EEEEEE; padding-bottom: 2rem;  margin-bottom: 2rem;} 
.wholesale-page .wholesale-page_c ul li{    list-style: decimal;    margin-left: 13px;}
.wholesale-page .wholesale-page_c ul li p{margin-bottom:2px;}
.wholesale-page .wholesale-page_c ul li.two{  list-style: lower-latin;}
.wholesale-page .wholesale-page_c.hr{  border-bottom: 1px solid #EEEEEE; }
.wholesale-page .last-email {  margin: 3.2rem auto;     line-height: 18px; }
.wholesale-page_d.frist ul li{width:50%}
.wholesale-page_d.frist ul li:nth-child(2n+1){position:relative}
.wholesale-page_d.frist ul li:nth-child(2n+1):before{position:absolute;  right: -6px; width:19px;height:19px;
top: 30%; background:url(https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/iconright.png?v=1607914226) no-repeat;
content:"";}
.wholesale-page_d.frist ul li img { max-width: 68%; }
.wholesale-page .last-email span{ color:#E50044;
    font-weight: 600;}
@media(max-width:768px){ 
.wholesale-page label.icon:before{
position: absolute;
content: "";
width: 5px;
height: 5px;
background: #E50044;
transform: rotate(45deg) translateY(-50%);
top: 50%;
left: 0;
}
.wholesale-page p.wholesale-page_a{border-bottom: 1px solid #EEEEEE;
padding-bottom: 1.2REM;}
.wholesale-page p.wholesale-page_c_c_c{margin-bottom:2px;font-size:16px;}
.wholesale-page label.icon{  padding: 15px; }
.wholesale-page label{ margin: 0;  font-size: 16PX;  COLOR: #000;}

.wholesale-page p{line-height:16px;}
.wholesale-page h2 {   font-size: 18px; font-weight: 400;  margin: 2rem 0;  } 
.wholesale-page .wholesale-page_d label{margin: 15px 0; padding: 0;}
.wholesale-page .wholesale-page_c ul li{    list-style: decimal;    margin-left: 13px;}
.wholesale-page .wholesale-page_c ul li p{margin-bottom:2px;}
.wholesale-page .wholesale-page_c ul li.two{  list-style: lower-latin;}
.wholesale-page .wholesale-page_c.hr{  border-bottom: 1px solid #EEEEEE; }
.wholesale-page .last-email {  margin: 3.2rem 0;     line-height: 18px; }
.wholesale-page ul li{ } 
.wholesale-page_d ul {     display: flex;
flex-wrap: wrap;
justify-content: space-between;
PADDING: 0 15px;}
.wholesale-page_d ul li{   TEXT-ALIGN: CENTER;
line-height: 1; width: 40%;}
.wholesale-page_d.last ul li {
TEXT-ALIGN: CENTER;
line-height: 1.2;
width: 100%;
display: flex;
align-items: CENTER;
margin: 1REM 0;
}
.wholesale-page_d.first ul li{width:50%}
.wholesale-page_d.first ul{padding:0}
.wholesale-page_d.first ul li:nth-child(2n+1){position:relative}
.wholesale-page_d.first ul li:nth-child(2n+1):before{position:absolute;    right: -6px;
width:19px;height:19px;
top: 30%;
background:url(https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/iconright.png?v=1607914226) no-repeat;
content:"";}
.wholesale-page_d.first ul li img {
max-width: 68%;
}
.wholesale-page_d.last ul li img{
WIDTH: 33%;
margin: 0 6% 0 0;}
.wholesale-page_d.last ul li span {
margin: 10px 0 20px 0;
display: block;
color: #000000;
TEXT-ALIGN: left;
}
.wholesale-page_d ul li span{margin:10px 0 20px 0; display:block;
color: #000000;
}
}
</style>
<div class="wholesale-page">
    <h2>Wholesale Program</h2>
    <p class="wholesale-page_a container">
    Soufeel is a famous personalized gifts company with over 10 years of personalized customized service all over the world! You can purchase products with high quality and lower price, even sell these in your online or physical store by Soufeel Wholesale Program.    </p>
    <p class="wholesale-page_b container">
   There are two ways of cooperation you can choose: Wholesale and Drop Shipping.   </p>
    <div class="wholesale-page_c container">
    <label class="icon">WHOLESALE  </label>
    <p class="wholesale-page_c_c">
    If you make bulk orders, we will offer more discounts.    </p>
    <p class="wholesale-page_c_c_c">
    Application conditions and benefits:    </p>
    <ul> 
        <li>
            Purchased products quantities is at least 100 to enjoy the discount:<br>
            <p> 10% OFF on purchase of 100 pieces</p>
            <p> 15% OFF on purchase of 200 pieces</p>
            <p> 20% OFF on purchase of 500 pieces</p>
        </li>
        <li>Your order must be fulfill AU$3,000 can enjoy these discount.</li>
        <li>Retail and wholesale can be ordered at the same time on one order.</li>
        <li>Free shipping on orders overAU$3,000 (after discount is applied)</li>
    </ul>
  </div>
  
    <div class="wholesale-page_d container first">
    <label>Specific Process:</label>
    <ul>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/specifit-01.png?v=1607914226">
       <span>Create wholesale account</span>
      </li>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/specifit-02.png?v=1607914226">
       <span>Add to cart</span>
      </li>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/specifit-03.png?v=1607914226">
       <span>Use specific coupon code</span>
      </li>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/specifit-04.png?v=1607914226">
       <span>Complete payment</span>
      </li>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/specifit-05.png?v=1607914226">
       <span>Send the order</span>
      </li>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/specifit-06.png?v=1607914226">
       <span>Enjoy the profits</span>
      </li> 
    </ul>
    </div>
    <div class="wholesale-page_c container hr">
    <label class="icon">Drop Shipping    </label>
        <p class="wholesale-page_c_c">
        If you want to sell our products but don’t want to backlog, we recommend you join our drop-shipping program. You will receive a personalized coupon code that you will get the discount, and we will ship products directly and provide the best service. If you want to do drop-shipping from us and enjoy your drop-shipping discount please contact us.       </p>
   </div>
    <div class="wholesale-page_c container"> 
    <p class="wholesale-page_c_c"> 
    </p><ul class="wholesale-page_sum"> 
        <label>Application conditions:</label>
        <li>
           If you accumulated consumption amount more than AU$1500 within half a year of Soufeel, you can enjoy drop shipping discount:      </li>
   </ul>
    <ul class="wholesale-page_sum">  
        <li class="two">Enjoy 10% OFF for each order after spending AU$1,500 within half a year</li>
        <li class="two">Enjoy 15% OFF for each order after spending AU$3,000 within half a year </li>
    </ul>
    </div>
    <div class="wholesale-page_d container last">
    <label>Specific process:</label>
    <ul>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/spe-01.png?v=1607914226">
       <span>Add to cart</span>
      </li>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/spe-02.png?v=1607914226">
       <span>Use specific coupon code</span>
      </li>
      <li>
       <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/spe-03.png?v=1607914226">
       <span>Ship to your customers</span>
      </li> 
    </ul>
    </div>
    <p class="container last-email">
       To sign up for the Wholesale Program, please contact us at <span> reseller@soufeel.com</span>
       submit the inquiry application with your       <span>  personal information, the product link, quantity, and additional instructions,</span>
        etc., our customer service will contact you within two business days. We appreciate your patience & understanding.   </p>
</div>