<style>
.col-md-1,.col-md-3,.col-md-4,.col-md-6 {
	float: left;
}
.fs14.fw {
	font-size:14px;
}
.main-content {
	margin-top:50px;
}
.cms-affiliate .main-container .main{margin:0; padding:0; width:100%;}
.cms-affiliate .col-main{width:100%; padding:0;}
.cms-affiliate-b1.pc { background:url(https://cdn.shopify.com/s/files/1/0552/3282/3445/files/banner.jpg?v=1616557517) center center/cover no-repeat; height:500px;}
.cms-affiliate-b1.mb { display:none;}
.cms-affiliate-b2 { background:url(https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/banner2.jpg?v=1608021422) center center/cover no-repeat; height:590px;}
.cms-affiliate-b2.mb {display:none;}
.cms-affiliate .col-sm-12 { padding-left:0; padding-right: 0;}
.cms-affiliate .middle-text { text-align:center; padding:70px 0 60px 0;}
.cms-affiliate .middle-text p { 
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  font-family: 'ProximaNova-Regular';
}

.cms-affiliate .middle-click a { color:#e40808;}
.cms-affiliate .bottom-banner img { max-width:100%;}
.cms-affiliate .affiliate-left {     
min-height: 600px;
padding-top: 200px;
padding-left: 10%;
padding-right: 10%;
background: #e60044;
line-height: 100px;
text-align: center;
color: #fff;
float: left;
width: 50%;
}
.cms-affiliate .affiliate-left img { max-width:110px;}
.cms-affiliate .affiliate-left div p { 
line-height: 16px;
margin-left: 0;
margin-top: 20px;
padding: 20px;
}
.cms-affiliate .affiliate-right {     
min-height: 600px;
padding-top: 100px;
padding-left: 10%;
padding-right: 0;
float: left;
width: 50%;
}
.cms-affiliate .affiliate-right ul {margin-top:70px;}
.cms-affiliate .affiliate-right ul li {
     line-height: 26px;
    font-size: 14px;
    padding: 12px 0;
    color: #9f9f9f;
    }
.cms-affiliate .affiliate-right h1 { font-size:30px; color:#737373;}
.cms-affiliate .bg-color { background:#fff; margin-top: -20px;}
.whyus { width:100%; float:left;}
.whyus .features-wrapper { text-align:center; padding:50px 0; color:#bcbcbc;}
.whyus .features-wrapper img { max-width:75px;}
.whyus .whyus-txt { font-size:22px; color:#323232; text-align:center; padding: 60px 0 20px 0; }
.cms-affiliate-b2-txt { position: relative;
    top: 435px;
    clear: both;
    width: 100%;
    text-align: center;
    color: #fff;
	font-size:20px;
    letter-spacing: 2px;
    line-height: 30px;}

.bottom-email { clear:both; width:100%; text-align:center; color:#5b7ed7; padding-bottom: 40px;}
.bottom-email .photo-mail { font-size:20px; font-weight:bold;}
.bottom-email span { font-size:16px; padding-left:6px;}
.bottom-banner { clear:both; margin-bottom:40px;}    
.affiliate p { text-transform: uppercase;}
.std ul {list-style:none;}
.footer-inpoint { clear:both;}

@media (max-width: 1366px){
.cms-affiliate .affiliate-left img { max-width:90px;}
.cms-affiliate .affiliate-left div p { padding:10px;}
}
@media (max-width: 991px){
.col-md-1 {width: 8%;
    float: left;}
.col-md-3.content {width: 25%;
    float: left;}
.cms-affiliate .affiliate-left img { max-width:90px;}
.cms-affiliate .affiliate-left { min-height: 300px;
    padding-top: 60px;}

.cms-affiliate .affiliate-right ul li { line-height:36px;}
.cms-affiliate .affiliate-right ul { margin-top: 30px;}
.cms-affiliate .affiliate-right {     min-height: 385px;
    padding-top: 40px;
    padding-bottom:18px;
    text-align: center;
    }
.whyus .icon  { display:none;}
.whyus .features-wrapper { padding: 0; }
.whyus .features-wrapper-bt { padding: 0 0 40px 0; margin-top:-10px; } 
.whyus { background:#fafafc;padding-bottom: 20px;} 
.bottom-email { padding-top:40px;} 

    }
    
@media (max-width: 768px){
.cms-affiliate-b1.mb { background:url(https://cdn.shopify.com/s/files/1/0552/3282/3445/files/banner-mobile.jpg?v=1616557551) center center/cover no-repeat; height:220px; display:block;}
.cms-affiliate-b2.mb { background:url(https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/banner2-mobile.jpg?v=1608022435) center center/cover no-repeat; height:230px; display:block;}
.cms-affiliate-b1.pc {display:none}
.cms-affiliate-b2.pc {display:none}
.header-logosearch.container { padding-top:0px !important;}
.cms-affiliate .affiliate-left {padding-left:18%; width:100%;}
.cms-affiliate-b2-txt { top: 310px; font-size:12px}
.cms-affiliate .affiliate-right {
	width:100%;
}
.cms-affiliate .affiliate-right ul {
	padding-left:10px;
}
.features-wrapper .col-md-4 {
	padding-left:0;
}
.features-wrapper .col-md-6 {
	padding-left:0;
}
.fs14.fw {
	text-align:left;
}
.main-content {
	margin-top:0;
}
 }
 
@media (max-width: 480px){

.cms-affiliate .affiliate-left { padding-left:7%; min-height: 212px;
    padding-top: 40px;}
.cms-affiliate .affiliate-left img { max-width:70px;}
.col-md-1 { top:-17px;}
.cms-affiliate .affiliate-left div p { margin-top: 0;
    padding: 0;}
.cms-affiliate .affiliate-right { padding-left:0; padding-right:0;}
.cms-affiliate .affiliate-right h1 { font-size:24px;}
.cms-affiliate .affiliate-right ul li {     font-size: 13px;
    line-height: 18px;
    padding: 10px 0;
    text-align: left;}
.cms-affiliate-b2-txt { top: 185px; letter-spacing: 1px; line-height: 16px;}
.cms-affiliate .middle-text {    padding: 60px 0 60px 0;}
.cms-affiliate .bg-color {margin-top:0;}
.whyus .features-wrapper { text-align:left;}
.cms-affiliate .footer-inpoint .photofont { line-height: normal; }
}
 
.three-icns {
	position:relative;
	left:0;
	top:10%;
}
.three-icns a { position:absolute;}
.middle-click a { text-decoration:underline;}
.three-icns a:nth-child(1) { right:32%; top:64px;}
.three-icns a:nth-child(2) { right:36.5%; top:153px;}
.three-icns a:nth-child(3) { right:29%; top:240px;}
@media (max-width: 1660px){
.three-icns a:nth-child(1) { right:28%; top:64px;}
.three-icns a:nth-child(2) { right:33.5%; top:153px;}
.three-icns a:nth-child(3) { right:24.7%; top:240px;}
}
@media (max-width: 1366px){
.three-icns a:nth-child(1) { right:23%; top:64px;}
.three-icns a:nth-child(2) { right:30%; top:153px;}
.three-icns a:nth-child(3) { right:19.5%; top:240px;}
}
@media (max-width: 1120px){
.three-icns a:nth-child(1) { right:17%; top:64px;}
.three-icns a:nth-child(2) { right:26%; top:148px;}
.three-icns a:nth-child(3) { right:12%; top:240px;}
}
@media (max-width: 768px){
.three-icns a { width:16%}
.three-icns img { width:100%;}
.three-icns a:nth-child(1) { right:35%; top:64px;}
.three-icns a:nth-child(2) { right:44%; top:148px;}
.three-icns a:nth-child(3) { right:30%; top:206px;}
}
@media (max-width: 480px){
.three-icns a { width:24%;}
.three-icns a:nth-child(1) { right:27%; top:24px;}
.three-icns a:nth-child(2) { right:40%; top:75px;}
.three-icns a:nth-child(3) { right:21%; top:120px;}
.cms-affiliate .logo.logo-lery { margin-top:0;}
.cms-affiliate .footer-inpoint .footer-service-policy {
 text-align: center;
}
}
</style>
<div  class="cms-affiliate">
    <div class="col-sm-12 bg-color">
        <div class="cms-affiliate-b1 pc" ></div>
        <div class="cms-affiliate-b1 mb" ></div>
    <div>
    <div class="middle-text">
        <p class="middle-text1">
           Free to join SOUFEEL affiliate program on partner affiliate networks :
        </p>
        <p class="middle-text2">
             <span class="middle-click">
             <a href="http://www.shareasale.com/shareasale.cfm?merchantID=46308" target="_blank">ShareAsale</a>&nbsp;&nbsp;|&nbsp;&nbsp;
             <a href="https://www.admitad.com/en/webmaster/offers/17292/landing/?ref=f451138ac8bb079099f1" target="_blank">Admitad</a>&nbsp;&nbsp;|&nbsp;&nbsp;
             <a href="https://signup.cj.com/member/signup/publisher/?cid=4927480" target="_blank">Commission Junction</a>
             </span> 
        </p>
    </div>
    <div class="col-sm-12 bg-color">
        <div class="cms-affiliate-b2 pc" >
      		    <div class="three-icns">
                	<a href="http://www.shareasale.com/shareasale.cfm?merchantID=46308" target="_blank"><img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/Affiliate-Program-1_04.jpg?v=1608022434"/></a>
                    <a href="https://www.admitad.com/en/webmaster/offers/17292/landing/?ref=f451138ac8bb079099f1" target="_blank"><img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/Affiliate-Program-1_08.jpg?v=1608022434"/></a>
                    <a href="https://signup.cj.com/member/signup/publisher/?cid=4927480" target="_blank"><img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/Affiliate-Program-1_12.jpg?v=1608022435"/></a>
                </div>
            <div class="cms-affiliate-b2-txt"><span>JOIN OUR AFFILIATE PROGRAM AND EARN BIG!</span><br/> 
                <span>Join to start making $$$</span>
               
            </div>
        </div>
      	<div class="cms-affiliate-b2 mb" >
      		    <div class="three-icns">
                	<a href="http://www.shareasale.com/shareasale.cfm?merchantID=46308" target="_blank"><img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/Affiliate-Program-1_04.jpg?v=1608022434"/></a>
                    <a href="https://www.admitad.com/en/webmaster/offers/17292/landing/?ref=f451138ac8bb079099f1" target="_blank"><img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/Affiliate-Program-1_08.jpg?v=1608022434"/></a>
                    <a href="https://signup.cj.com/member/signup/publisher/?cid=4927480" target="_blank"><img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/Affiliate-Program-1_12.jpg?v=1608022435"/></a>
                </div>
            <div class="cms-affiliate-b2-txt"><span>JOIN OUR AFFILIATE PROGRAM AND EARN BIG!</span><br/> 
                <span>Join to start making $$$</span>
               
            </div>
        </div>
    <div>
    
   
    <div class="affiliate">
        
        <div class="col-xs-12 col-sm-12 col-md-6 affiliate-left">
            <div class="col-md-3 content">
                <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/left-01.png?v=1608021419"/>
                <p>partner</p>
            </div>
            <div class="col-md-1">
                <i class="photofont icon more1">&#xe610;</i>
            </div>
            <div class="col-md-3 content">
                <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/left-02.png?v=1608021419"/>
                <p>affiliate network</p>
            </div>
            <div class="col-md-1">
                <i class="photofont icon more1">&#xe610;</i>
            </div>
            <div class="col-md-3 content">
                <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/left-03.png?v=1608021419"/>
                <p>commission</p>
            </div>
        </div>
      
        <div class="col-xs-12 col-sm-12 col-md-6 affiliate-right">
            <h1>Affiliate Program Details</h1>
            <p class="c88">
                <ul>
                    <li><i class="photofont icon photo-yuandian1"></i>Minimum 10% Commission On All Referred Sales  </li>
                    <li><i class="photofont icon photo-yuandian1"></i>AOV is over AU$100.00  </li>
                    <li><i class="photofont icon photo-yuandian1"></i>Creative Banners, Text links and Coupon Deals Available  </li>
                    <li><i class="photofont icon photo-yuandian1"></i>Datafeed With 1,200+ Products Available  </li>
                    <li><i class="photofont icon photo-yuandian1"></i>20% Conversion Rate</li>
                    <li><i class="photofont icon photo-yuandian1"></i>60 Days Cookie Duration</li>
                    
                </ul>
            </p>
        </div>
        
    </div>

    <div class="whyus">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="whyus-txt">WHY US </div>
                    <div class="features-wrapper">
                        <div class="col-md-4">
                            <div class="icon">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/icon-1.png?v=1608021419"/>
                            </div>
                            <h2 class="fs14 fw"> 100% Real Object Pictures </h2>
                            
                        </div>
                        <div class="col-md-4 delay-05s">
                            <div class="icon">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/icon-2.png?v=1608021423"/>
                            </div>
                            <h2 class="fs14 fw">100% Best Price Guarantee </h2>
                        </div>
                        <div class="col-md-4 delay-1s">
                            <div class="icon">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/icon-3.png?v=1608021419"/>
                            </div>
                            <h2 class="fs14 fw">100% Products Quality Guarantee</h2>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="features-wrapper features-wrapper-bt">
                        <div class="col-md-6">
                            <div class="icon">

                                <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/icon-4.png?v=1608021419"/>
                            </div>
                            <h2 class="fs14 fw">90-Day Return & Exchange Service</h2>
                            
                        </div>
                        <div class="col-md-6 delay-05s">
                            <div class="icon">
                                <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/icon-5.png?v=1608021419"/>
                            </div>
                           
                            <h2 class="fs14 fw">Free Shipping On Orders Over $49.00</h2>
                        </div>
                       
                        <div class="clearfix"></div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-email"><i class="photofont icon photo-mail"></i> <span>Contact us: Affiliate@soufeel.com</span></div>
    <div class="bottom-banner">
        <img src="https://cdn.shopifycdn.net/s/files/1/0513/9955/7272/files/banner3.jpg?v=1608021422" />
    </div>
    

</div>