<style>
.search-container {
    display: none;
}
.how_it_works {
    width: 100%;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 40px 0;
    background-color: #F6F6F9;
    text-align: center;
    margin-bottom: 30px;
}
.h_title_box{
	vertical-align: middle;  
    height: 258px;
    width: 690px;
}
  .h-title1{
  	margin-bottom: 0px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #222222;
  }
  .h-title2,
  .container h2{
    font-size: 16px;
    line-height: 32px;
    
  }
  .btn-default {
    width: 234px;
    height: 56px;
    background-color: #F9423A;
    color: #fff;
    text-transform: inherit;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: inherit;
}
  .4-steps{
    width: 100%;
    
  }
  .container {
    margin-right: auto;
    margin-left: auto;
    
}
  .container_title{
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
    color: #222222;
    font-weight: bold;
  
  }
  .container-left-1{
  	margin-left: 204px;
    margin-top: 60px;
    width: 30%;
  
  }
  
  .container-left-1 img{
  	width: 351.62px;
    height: 227.66px;
  
  }
  .container-right-1{
  	margin-right: 210px;
    margin-top: 60px;
    width: 38%;
  
  }
  .number{
    border-radius: 25px;
    background-color: #222222;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    color: #ffff;
    margin-left: 13px;
  }
  .container h3{
    margin-top: 20px;
    font-size: 24px;
    color: #222222;
    text-align: inherit;
  }
  .steps-1{
  	display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    width: 1300px;
  }
  .container h2{
  	text-align: inherit;
  }
</style>
<div >
  <div class="how_it_works">
    <div class="h_title_box">
    <h1 class="h-title1">How it works</h1>
    <h2 class="h-title2">Mademine simplifies and automates the process of sourcing and creating print on demand products at the best prices on the market.</h2>
    <p class="h-title3"><a href="#" class=" btn btn-default">Start selling</a></p>    
    </div>  
  </div>
  <div class="4-steps" >
	<div class="container">
      <h1 class="container_title">Enjoy Mademine services in 4 easy steps</h1>
      <div class="steps-1">
      <div class="container-left-1">
			<img src="https://assets.sunzi.cool/mademine/how-test1.png" class="img-responsive" alt="">
		</div>
      <div class="container-right-1">
           <div class="number">1</div>
			<h3>Pick</h3>
			<h2>Our catalog has over 300 products such as t-shirts, mugs, socks, and home accessories ready for you to customize. Pick the most suitable product for your business based on print provider location, fulfillment time and price.</h5>
		
		</div>
      </div>
</div>



</div>